.footer__wrapper {
    margin: 6rem 0rem;
    display: flex;
    margin-top: 10rem;
  }
  .footer__logo-container {
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__icons {
    margin-top: 1.5rem;
  }
  .footer__icons svg {
    font-size: 1.5rem;
    margin-right: .75rem;
    margin-left: .75rem;
    color: #585858;
  }
   .footer__section-one {
    border: 2px solid #ae38b5;
    margin-right: 5vh;
  } 
  .footer__section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  .footer__section-columns {
    display: flex;
    flex-direction: column;
    min-width: 190px;
  }
  .footer__section-columns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
  }
  .footer__copy{
    align-self: flex-end;
    font-size: .75rem;
  }
  .footer__copy-container{
    display: flex;
  
  }

  @media (max-width : 800px) {
    .footer__wrapper {
        flex-direction: column;
        display: block;
      }
      .footer__section-two {
        flex-direction: column;
        margin-top: 2rem;
      }
      .footer__section-columns {
        margin: 1rem 0rem;
      }
     .footer__section-one{
      width: 30vh;
      margin: auto;
     }
     .footer__icons svg{
      margin-left: .8rem;
      margin-right: .8rem;
     }
  }