:root{

  --hue: 0;
  --sat: 100%;
  --decoration-color: hsl(297, 53%, 46%);
  --title-color: hsl(297, 53%, 46%);
  --title-color-dark: hsl(141, 39%, 7%);
  --text-color: hsl(230, 8%, 14%);
  --body-color:   hsl(0, 0%, 96%);
  --container-color: hsl(154, 44%, 87%);

  
/*
  hsl(0, 0%, 100%);
  hsl(0, 0%, 92%);
  hsl(36, 88%, 48%);
  hsl(0, 0%, 28%);*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 96%);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.primary__button {
  padding: 0.9rem 1.75rem;
  background-color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.primary__button:hover {
  background-color: hsl(0, 0%, 92%);
}

.primary__heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: hsl(0, 0%, 30%);
  /* line-height: 5rem; */
  max-width: 600px;
}
.primary__text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: hsl(0, 0%, 42%);
  margin: 1.5rem 0rem;
}
.secondary__button {
  padding: 1rem 2.5rem;
  background-color: hsl(297, 53%, 46%);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary__button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary__button:hover {
  background-color: hsl(36, 88%, 48%);
}
.primary__subheading {
  font-weight: 700;
  color: hsl(297, 53%, 46%);
  font-size: 1.15rem;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: hsl(0, 0%, 28%);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}


@media (max-width: 1000px) {
  .primary__button {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  
  .nav__logo-container {
    max-width: 140px;
  }
  .primary__heading {
    text-align: center;
    max-width: 90%;
  }
  .primary__text {
    text-align: center;
    max-width: 80%;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .primary__subheading {
    text-align: center;
  }
  .watch__video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .App {
    max-width: 95vw;
  }
}
